
* {
  box-sizing: border-box;
}
body {
  font-family: 'Karla', sans-serif;
  margin: 0;
}

main {
  padding: 36px 50px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);;
  padding: 20px;
}

.header-img {
  width: 32px;
  height: auto;
  margin-right: 10px;
}

.header-title {
  font-size: 20px;
  margin-right: auto;
  font-weight: 700;
}

.header-text {
  font-size: 15px;
  font-weight: 500;
}
.div {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 50% 50%;
  row-gap: 17px;
  
}
.div-input {
  font-family: 'Karla', sans-serif;
  height: 35px;
  width: 230px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;

}
.div-button{
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  font-family: 'Karla', sans-serif;
  color: white;
  height: 40px;
  width: 477px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
